# EditorConfig. Frontend. Default. Namics.
# @see: http://EditorConfig.org
# install a plugin to your editor: http://editorconfig.org/#download
# mark: not all plugins supports the same EditorConfig properties

# This is the top-most .editorconfig file (do not search in parent directories)
root = true

### All files
[*]
# Force charset utf-8
charset = utf-8
# Force Unix-style newlines with a newline ending every file & trim trailing whitespace
end_of_line = lf
# Force newline ending every file & trim trailing whitespace
insert_final_newline = true
trim_trailing_whitespace = true
# Indentation
indent_style = tab
indent_size = 4

### Frontend files
[*.{css,scss,less,js,json,jsx,ts,tsx,sass,php,hbs,mustache,phtml,html,twig}]

### Markdown
[*.{md,mdx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

### YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

### Storybook stories
[*.stories.{ts,tsx}]
indent_style = space
indent_size = 2

### Specific files
[{package,bower,lerna}.json]
indent_style = space
indent_size = 2
