# Node
**/node_modules
**/package.json
**/package-lock.json

# Generated
**/bower.json
**/lerna.json

# Build
**/build
**/dist
**/public
**/tmp
**/coverage
**/.publish
**/performance/environments/*/src/components
